.ContactData {
  margin: 40px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #c2c7d0;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
